form {
    display: inline-block;
    width: 100%;
}
.form > .form-row {
    width: 100%;
    margin-bottom: 5%  
}
.form .form-row:nth-child(5),
.form .form-row:nth-child(6) {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
}
.form > .form-row > .label {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 13px;
    color: #B7BAC7;
}

.form > .form-row > .input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #EBEBEF;
    font-weight: bold;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.form > .form-row > .input:focus-visible {
    outline: 1px solid red;
}
.form span {
    line-height: 34px;
    margin-left: 10px;
}
.form a {
    color: #00C85B;
    line-height: 34px; 
    text-decoration: none; 
}

.form a:hover {
    text-decoration: underline;
}
.lable.checkbox > span {
     color: #00C85B;
}

.form checkbox  {

}