.container {
    width: 800px;
    margin-top: 100px;
    margin-left: calc(50% - 400px);
}

.left-column {
    width: 40%;
    float:left;
    padding: 40px;
    height: 600px;
    background-color: #EDA700;
    background-image: url(../img/Trees.png);
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.main-title {
    width:100%;
    margin-bottom: 50px ;
    font-size: 40px;
    font-weight: normal;
    font-style: oblique;
}
.main-paragraf {
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 20px;
}

.main-title > img {
    width: 30px;
    height: 40px;

}

.left-column > img {
    width: 100px;
    margin-top: 80%;
}

.right-column {
    width: 60%;
    float:left;
    padding: 60px;
    background-color: beige;
}
.close {

}